DISCORD_TOKEN="YOUR_TOKEN_HERE"

filebin = "some"

channel_id = 1475151176159985744

FONT_PATH = "fonts/OpenSansExtraBold.ttf"

NVIDIA_GPU = False

CATEGORIES = "cats, dogs ,memes ,others"

TITLE = '{"cats":"KITTY MOMENTS","dogs":"PUPPY MOMENTS","others":"TRENDING MOMENTS" , "memes":"BEST MEMES"}'

GEMINI_API_KEY = "YOUR_GEMINI_API"
